
<div id="customerProperties">
        Nome  <input type="text" name='name' ng-model="customer.name"><br>
        Cognome  <input type="text" name='surname' ng-model="customer.surname"><br>
        Nota <input type="text" name='note' ng-model="customer.nota">
        </div>
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead"> Dettagli {{customer.surname}}</p>
    <div class="row marketing">
        
</div>
    
</div>



<div class="footer">
  <p>♥ from the Arpho team</p>
    <button id="addCat"  ng-click="updateAction">{{action}} Customer</button>
</div>
