


<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
    
  
    <div id="customerProperties">
        <p class="lead"> Dettagli {{customer.surname}}</p>
        <label>Nome</label>  <input type="text" name='name' ng-model="customer.name"><br>
        <label>Cognome</label>  <input type="text" name='surname' ng-model="customer.surname"><br>
        <label>Nota</label> <input type="text" name='note' ng-model="customer.note">
        </div>
    <div id="customerAddress">
    <h4>Address</h4>
        <button id="addAddress" ng-click="addAddress()">Add Address</button>
<ul>
    <li ng-class="{nuovo:a.data.just_insert, strike:a.toDelete,updated:a.updated}" ng-repeat="a in customer.LIVES_IN">{{a.use.use}}: {{a.data.street}} {{a.data.number}}, {{a.data.city}}, {{a.data.cap}}<img ng-src="img/new.png" ng-show="a.data.just_insert"/> <img ng-src="img/delete.png" ng-click="addressToDelete(a)"/><img ng-src="img/pencil.png" ng-click="updateAddress(a)" id="{{'updateAddress'+a.id}}"></li>
    </ul>
</div>
    <div id='customerPhone'>
        <h4>Telefoni</h4>
        <button id="addTelephone" ng-click="addTelephone()">Add Telephone</button>
    <ul><li ng-class="{nuovo:a.data.just_insert, strike:a.toDelete,updated:a.updated}" ng-repeat="a in customer.ANSWERS_TO">{{a.use.use}},{{a.data.note}},{{a.data.number}}<img ng-src="img/new.png" ng-show="a.data.just_insert"/> <img ng-src="img/delete.png" ng-click="telephoneToDelete(a)"/><img ng-src="img/pencil.png" ng-click="updatePhone(a)" id="{{'updatePhone'+a.id}}"></li></ul>
    </div>
    <div id='customerEmail'><h4>Emails</h4>
        <button id="addMail" ng-click="addMail()">Add Mail</button>
    <ul>
        <li ng-class="{nuovo:a.data.just_insert, strike:a.toDelete,updated:a.updated}" ng-repeat="a in customer.RECEIVES">{{a.use.use}},{{a.data.mail}}:{{a.data.note}}<img ng-src="img/new.png" ng-show="a.data.just_insert"/> <img ng-src="img/delete.png" ng-click="telephoneToDelete(a)"/><img ng-src="img/pencil.png" ng-click="updateMail(a)" id="{{'updateMail'+a.id}}"></li>
    </div>
    <div class="row marketing">
        
</div>
    
</div>



<div class="footer">
  <p>♥ from the Arpho team</p>
    <button id="addCust"  ng-click="updateAction()">{{action}} Customer</button>
</div>
