
<div id="home" class='text-muted' ><h3>Projects view</h3></div>
<div class="jumbotron">
    
  <h1>'Allo, 'Allo!</h1>
    <div id='title' ><h3>{{pageTitle}}</h3></div>
  <p class="lead">Always a pleasure scaffolding your apps.</p>
    <div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>
  <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
</div>



<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
